.card a:hover{
    padding-inline: 10px;
}

.card-text{
    display:inline-block;
}

.estado {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 8px; 
}

.estado-disponible {
    background-color: green;
}

.estado-agotado {
    background-color: red;
}